---
## **Imports**
---

In [1]:
# System Imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline

# Machine Learning Imports
import sklearn

# Display Options
pd.options.display.max_rows = None # Adjust maximum display settings for rows and columns
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None # Increase maximum column width to improve readability

---
## **Setup Data**
---

In [2]:
# Load the dataset
raw_data = pd.read_csv('../data/raw_data.csv')

print("=== DATASET OVERVIEW ===")
print(f'Data Size: {raw_data.shape}')
print(f'Columns: {list(raw_data.columns)}')

print("\n=== FIRST 10 ROWS ===")
display(raw_data.head(10))

print("\n=== DATA INFO ===")
raw_data.info()

print("\n=== BASIC STATISTICS ===")
display(raw_data.describe().round(3))

print("\n=== MISSING VALUES ===")
display(raw_data.isnull().sum())

=== DATASET OVERVIEW ===
Data Size: (541909, 8)
Columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

=== FIRST 10 ROWS ===

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

=== DATA INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

=== BASIC STATISTICS ===

         Quantity   UnitPrice  CustomerID
count  541909.000  541909.000  406829.000
mean        9.552       4.611   15287.691
std       218.081      96.760    1713.600
min    -80995.000  -11062.060   12346.000
25%         1.000       1.250   13953.000
50%         3.000       2.080   15152.000
75%        10.000       4.130   16791.000
max     80995.000   38970.000   18287.000

=== MISSING VALUES ===

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

---
## **Data Cleaning**
---

In [3]:
# Use the copy of the raw data
df_clean = raw_data.copy()

# Showing rows with missing customer ID and Description
rows_with_both_nulls_counts = ((df_clean['CustomerID'].isnull()) & (df_clean['Description'].isnull())).sum()
print(f"The count of rows with missing ID and Description: {rows_with_both_nulls_counts} rows") # Counting the rows
rows_with_both_nulls = df_clean.loc[df_clean['CustomerID'].isnull() & df_clean['Description'].isnull()]
display(rows_with_both_nulls.head(11)) # Showing the rows

# Dropping the rows with missing CustomerID
df_clean = df_clean.dropna(subset='CustomerID').reset_index(drop=True)

# Checking for missing values
print('Count of Missing Values:')
display(df_clean.isnull().sum())

The count of rows with missing ID and Description: 1454 rows

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
1988,536550,85044,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
2024,536552,20950,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
2025,536553,37461,NaN,3,12/1/2010 14:35,0.0,NaN,United Kingdom
2026,536554,84670,NaN,23,12/1/2010 14:35,0.0,NaN,United Kingdom
2406,536589,21777,NaN,-10,12/1/2010 16:50,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,12/2/2010 14:42,0.0,NaN,United Kingdom

Count of Missing Values:

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [4]:
# Change the data type of the columns
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'], errors='coerce')
df_clean['CustomerID'] = df_clean['CustomerID'].astype(int).astype(str)

# remove whitespace in the description
df_clean['Description'] = df_clean['Description'].str.strip(' .')

# Checking data types
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406829 entries, 0 to 406828
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  object
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 24.8+ MB

In [5]:
# Saving the clean data to a csv file
df_clean.to_csv('../data/clean_data.csv', index=False)

---
## **Feature Engineering**
---

In [6]:
# Use the copy of clean data
df_expanded = df_clean.copy()

# Adding total price
df_expanded['TotalPrice'] = df_expanded['Quantity'] * df_expanded['UnitPrice']

# Adding Cancellation and Returns
df_expanded['Cancelled'] = df_expanded['InvoiceNo'].str.startswith('C').astype(int)
df_expanded['Returned'] = (df_expanded['Quantity'] < 0).astype(int)

# invoice level features aggregation
invoice_features = df_expanded.groupby('InvoiceNo').agg(
    ItemsPerInvoice=('StockCode','nunique'),
    TotalQuantityPerInvoice=('Quantity','sum'),
    InvoiceValue=('TotalPrice','sum'),
    AvgUnitPricePerInvoice=('UnitPrice','mean')
).reset_index()
invoice_features['AvgUnitPricePerInvoice'] = invoice_features['AvgUnitPricePerInvoice'].round(2)
df_expanded = df_expanded.merge(invoice_features, on='InvoiceNo', how='left') # Merge the data frame

# Product level features aggregate
product_features = df_expanded.groupby('StockCode').agg(
    ProductSalesCount = ('Quantity', 'sum'),
    TotalProductRevenue = ('TotalPrice', 'sum'),
    AvgProductQuantityPerOrder = ('Quantity', 'mean'),
    ReturnRate = ('Returned', 'mean')
).reset_index()
product_features['AvgProductQuantityPerOrder'] = product_features['AvgProductQuantityPerOrder'].round(2)
df_expanded = df_expanded.merge(product_features, on='StockCode', how='left') # Merge the data frame

# Customer level aggregate
customer_dates = df_expanded.groupby('CustomerID').agg(
    FirstPurchase = ('InvoiceDate', 'min'),
    LastPurchase = ('InvoiceDate', 'max')
).reset_index()
customer_dates['CustomerTenure'] = (customer_dates['LastPurchase'] - customer_dates['FirstPurchase']).dt.days
df_expanded = df_expanded.merge(customer_dates[['CustomerID', 'CustomerTenure']], on='CustomerID', how='left')

# Date features (Temporal Features)
df_expanded['YearMonth'] = df_expanded['InvoiceDate'].dt.to_period('M')
df_expanded['YearMonth'] = df_expanded['YearMonth'].dt.to_timestamp()

# Additional Date Features
# df_expanded['InvoiceYear'] = df_expanded['InvoiceDate'].dt.year
# df_expanded['InvoiceMonth'] = df_expanded['InvoiceDate'].dt.month
# df_expanded['InvoiceWeek'] = df_expanded['InvoiceDate'].dt.isocalendar().week.astype(int)
# df_expanded['InvoiceDay'] = df_expanded['InvoiceDate'].dt.day
# df_expanded['InvoiceHour'] = df_expanded['InvoiceDate'].dt.hour
# df_expanded['DayOfWeek'] = df_expanded['InvoiceDate'].dt.dayofweek
# df_expanded['IsWeekend'] = df_expanded['InvoiceDate'].isin([4, 5, 6]).astype(int) # Fri-Say-Sun

In [7]:
df_expanded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406829 entries, 0 to 406828
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   InvoiceNo                   406829 non-null  object
 1   StockCode                   406829 non-null  object
 2   Description                 406829 non-null  object
 3   Quantity                    406829 non-null  int64
 4   InvoiceDate                 406829 non-null  datetime64[ns]
 5   UnitPrice                   406829 non-null  float64
 6   CustomerID                  406829 non-null  object
 7   Country                     406829 non-null  object
 8   TotalPrice                  406829 non-null  float64
 9   Cancelled                   406829 non-null  int64
 10  Returned                    406829 non-null  int64
 11  ItemsPerInvoice             406829 non-null  int64
 12  TotalQuantityPerInvoice     406829 non-null  int64
 13  InvoiceValue                406829 non-null  float64
 14  AvgUnitPricePerInvoice      406829 non-null  float64
 15  ProductSalesCount           406829 non-null  int64
 16  TotalProductRevenue         406829 non-null  float64
 17  AvgProductQuantityPerOrder  406829 non-null  float64
 18  ReturnRate                  406829 non-null  float64
 19  CustomerTenure              406829 non-null  int64
 20  YearMonth                   406829 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(7), int64(7), object(5)
memory usage: 65.2+ MB

In [8]:
list(df_expanded.columns)

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country',
 'TotalPrice',
 'Cancelled',
 'Returned',
 'ItemsPerInvoice',
 'TotalQuantityPerInvoice',
 'InvoiceValue',
 'AvgUnitPricePerInvoice',
 'ProductSalesCount',
 'TotalProductRevenue',
 'AvgProductQuantityPerOrder',
 'ReturnRate',
 'CustomerTenure',
 'YearMonth']

In [9]:
# Rearrange the columns
df_expanded = df_expanded[['InvoiceNo',
                           'StockCode',
                           'CustomerID', 
                           'Description', 
                           'Quantity', 
                           'InvoiceDate', 
                           'YearMonth',
                           'UnitPrice', 
                           'Country', 
                           'TotalPrice', 
                           'ItemsPerInvoice', 
                           'TotalQuantityPerInvoice', 
                           'InvoiceValue', 
                           'AvgUnitPricePerInvoice', 
                           'ProductSalesCount', 
                           'TotalProductRevenue', 
                           'AvgProductQuantityPerOrder', 
                           'Cancelled', 
                           'Returned', 
                           'ReturnRate', 
                           'CustomerTenure', 
                           ]]

In [10]:
df_expanded.head()

,InvoiceNo,StockCode,CustomerID,Description,Quantity,InvoiceDate,YearMonth,UnitPrice,Country,TotalPrice,ItemsPerInvoice,TotalQuantityPerInvoice,InvoiceValue,AvgUnitPricePerInvoice,ProductSalesCount,TotalProductRevenue,AvgProductQuantityPerOrder,Cancelled,Returned,ReturnRate,CustomerTenure
0,536365,85123A,17850,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2010-12-01,2.55,United Kingdom,15.30,7,40,139.12,3.91,34204,93979.20,16.47,0,0,0.020221,71
1,536365,71053,17850,WHITE METAL LANTERN,6,2010-12-01 08:26:00,2010-12-01,3.39,United Kingdom,20.34,7,40,139.12,3.91,1600,5776.18,5.88,0,0,0.033088,71
2,536365,84406B,17850,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2010-12-01,2.75,United Kingdom,22.00,7,40,139.12,3.91,1876,6962.88,7.50,0,0,0.024000,71
3,536365,84029G,17850,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,2010-12-01,3.39,United Kingdom,20.34,7,40,139.12,3.91,2455,9271.17,7.44,0,0,0.012121,71
4,536365,84029E,17850,RED WOOLLY HOTTIE WHITE HEART,6,2010-12-01 08:26:00,2010-12-01,3.39,United Kingdom,20.34,7,40,139.12,3.91,3688,13354.06,11.08,0,0,0.015015,71

In [11]:
# Saving the expanded data to a csv file
df_expanded.to_csv('../data/expanded_data.csv', index=False)